@import "tailwindcss";

/* create a theme for the app */
@theme {
  --color-primary:  #F59E0B;    
  --color-secondary: #F59E00; 
  --color-accent: #10B981;
  --color-bg: #000;    
  --color-br: gray;
  --color-txt-primary: #fff;

  --text-xxl: 2.5rem;
  --text-xxl: 2rem;
  --size-md: 1rem;
  --size-sm: 0.5rem;
  --size-xs: 0.25rem;
  --size-2xs: 0.125rem;
  --size-3xs: 0.0625rem;
  --size-4xs: 0.03125rem;
}






:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-accent);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

